sentence-transformers==3.2.1
huggingface_hub==0.16.4  # Version plus récente pour éviter les conflits avec sentence-transformers
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
nest_asyncio==1.5.4
xformers==0.0.16
datasets==2.8.0

