langchain_openai 
langchain_huggingface 
langchain_core 
langchain 
langchain_community 
langchain-text-splitters 
PyPDF2 
"unstructured[all-docs]" 
unstructured-client 
pillow_heif
faiss-cpu 
unstructured==0.15.7 
python-pptx==1.0.2 
nltk==3.9.1
sentence_transformers 
datasets
pyarrow